@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    /* border: 5px solid red;
    margin: 10px; */
    
}

body{
    background-image: url('https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60');
    background-size:cover;
    min-height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 3rem;
    font-weight: normal;
}

.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align:center;
    font-weight: 500;
    
    
}

.countdown-el span{
    font-size: 1.5rem;
    font-weight: bold;
    
    
}